x-reflexded-base: &reflexded-base
  image: reflexded:latest  # see service init_reflexded build
  tty: true
  restart: always
  entrypoint: /runserver.sh
  volumes:
    - './reflexded/:/srv/steam/reflexded'
    - './docker/runserver.sh:/runserver.sh:ro'
  logging:
    driver: "local"
    options:
      max-size: "10m"
      max-file: "3"

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - './docker/nginx.conf:/etc/nginx/nginx.conf:ro'
      - './reflexded/replays/:/usr/share/nginx/html:ro'
    restart: always
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
    cpus: 0.1

  init_reflexded:
    image: reflexded:latest
    pull_policy: never
    build: 
      context: ./docker/
      dockerfile: Dockerfile
    volumes:
      - './reflexded/:/srv/steam/reflexded'
      - './docker/:/docker/:ro'
    command: /bin/bash -c "/docker/install_reflexded.sh"
    restart: "no" # This service should not restart once completed.

  rulesets_updater:
    build: 
      context: ./docker/
      dockerfile: rulesets_updater.Dockerfile
    command: bash -c "chmod +x /rulesets_updater.sh && /rulesets_updater.sh"
    environment:
      RULESETS_GIT_REPO: 'https://github.com/Nailok/reflex_rulesets.git'
    volumes:
      - './reflexded/:/srv/steam/reflexded'
      - './docker/rulesets_updater.sh:/rulesets_updater.sh'
      - './rulesets_local/:/rulesets_local/:ro'
    restart: always
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
    cpus: 0.1

  replays_cleaner:
    build: 
      context: ./docker/
      dockerfile: cleaner.Dockerfile
    command: bash -c "chmod +x /cleanup_replays.sh && /cleanup_replays.sh"
    environment:
      REPLAY_DIR: "/replays"
    volumes:
      - './reflexded/replays/:/replays/'
      - './docker/cleanup_replays.sh:/cleanup_replays.sh'
    restart: always
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
    cpus: 0.1

  ded1:
    <<: *reflexded-base
    ports:
      - "25787:25787/tcp"
      - "25787:25787/udp"
    environment:
      SRV_ARGS: "+sv_hostname #1 Bobr Rated http://bobr.furioness.net/ - demos +sv_gameport 25787"

  ded2:
    <<: *reflexded-base
    ports:
      - "25788:25788/tcp"
      - "25788:25788/udp"
    environment:
      SRV_ARGS: "+sv_hostname #2 Bobr Rated http://bobr.furioness.net/ - demos +sv_gameport 25788"
