services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - './docker/nginx.conf:/etc/nginx/nginx.conf:ro'
      - './reflexded/replays/:/usr/share/nginx/html:ro'
    restart: always
    cpus: 0.1

  init_reflexded:
    build: 
      context: ./docker/
      dockerfile: Dockerfile
    volumes:
      - './reflexded/:/srv/steam/reflexded'
      - './docker/:/docker/:ro'
    command: /bin/bash -c "/docker/install_reflexded.sh"
    restart: "no" # This service should not restart once completed.

  rulesets_updater:
    build: 
      context: ./docker/
      dockerfile: rulesets_updater.Dockerfile
    command: bash -c "chmod +x /rulesets_updater.sh && /rulesets_updater.sh"
    volumes:
      - './reflexded/:/srv/steam/reflexded'
      - './docker/rulesets_updater.sh:/rulesets_updater.sh'
    restart: always
    cpus: 0.1

  replays_cleaner:
    build: 
      context: ./docker/
      dockerfile: cleaner.Dockerfile
    command: bash -c "chmod +x /cleanup_replays.sh && /cleanup_replays.sh"
    environment:
      REPLAY_DIR: "/replays"
    volumes:
      - './reflexded/replays/:/replays/'
      - './docker/cleanup_replays.sh:/cleanup_replays.sh'
    restart: always
    cpus: 0.1

  ded1:
    build: 
      context: ./docker/
      dockerfile: Dockerfile
    tty: true
    ports:
      - "25787:25787/tcp"
      - "25787:25787/udp"
    volumes:
     - './reflexded/:/srv/steam/reflexded'
     - './docker/runserver.sh:/runserver.sh:ro'
    restart: always
    entrypoint: /runserver.sh
    environment:
      SRV_ARGS: "+sv_hostname #1 Bober Kurwa Sesen-rated http://70.34.252.62/ - demos +sv_gameport 25787"

  ded2:
    build: 
      context: ./docker/
      dockerfile: Dockerfile
    tty: true
    ports:
      - "25788:25788/tcp"
      - "25788:25788/udp"
    volumes:
     - './reflexded/:/srv/steam/reflexded'
     - './docker/runserver.sh:/runserver.sh:ro'
    entrypoint: /runserver.sh
    restart: always
    environment:
      SRV_ARGS: "+sv_hostname #2 Bober Kurwa Sesen-rated http://70.34.252.62/ - demos +sv_gameport 25788"
