x-reflexded-base: &reflexded-base
  image: reflexded:latest  # see service reflexded_installer build
  tty: true
  init: true
  restart: unless-stopped
  depends_on:
    reflexded_installer:
      condition: service_completed_successfully
  volumes:
    - './reflexded/:/srv/steam/reflexded/'
  logging:
    driver: 'local'
    options:
      max-size: '10m'
      max-file: '3'

x-dedicatedserver-cfg-env: &dedicatedserver-cfg-env
  SRV_ARGS_COMMON: >
    +sv_maxclients 6
    +sv_steam 1
    +sv_allowedit 0
    +sv_country PL
    +sv_startmap Fusion
    +sv_startwmap 608417285
    +sv_startruleset cr2
    +sv_startmode 1v1
    # +sv_refpassword yourrefpassword
    # +rcon_password yourrconpassword

services:
  ded1:
    <<: *reflexded-base
    ports:
      - '25787:25787/tcp'
      - '25787:25787/udp'
    environment:
      <<: *dedicatedserver-cfg-env
      SRV_ARGS: '+sv_hostname #1 Bobr Rated http://bobr.furioness.net/ - demos +sv_gameport 25787'

  ded2:
    <<: *reflexded-base
    ports:
      - '25788:25788/tcp'
      - '25788:25788/udp'
    environment:
      <<: *dedicatedserver-cfg-env
      SRV_ARGS: '+sv_hostname #2 Bobr Rated http://bobr.furioness.net/ - demos +sv_gameport 25788'

  reflexded_installer:
    image: 'reflexded:latest'
    pull_policy: never
    build:
      context: _internal/reflexded/
    entrypoint: /install_reflexded.sh
    init: true
    volumes:
      - './reflexded/:/srv/steam/reflexded'
    restart: on-failure:3 # This service should not restart once completed.

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - './_internal/nginx/nginx.conf:/etc/nginx/nginx.conf:ro'
      - './reflexded/replays/:/usr/share/nginx/html/:ro'
    restart: always
    logging:
      driver: 'local'
      options:
        max-size: '10m'
        max-file: '3'
    cpus: 0.1

  ruleset_service:
    build: 
      context: _internal/ruleset_service/
    init: true
    environment:
      RULESETS_GIT_REPO: 'https://github.com/Nailok/reflex_rulesets.git'
    volumes:
      - './reflexded/:/srv/steam/reflexded'
      - './rulesets_local/:/rulesets_local/:ro'
    restart: unless-stopped
    logging:
      driver: 'local'
      options:
        max-size: '10m'
        max-file: '3'
    cpus: 0.1

  replay_service:
    build: 
      context: _internal/replay_service/
    init: true
    environment:
      REPLAY_FOLDER: '/replays/'
      DB_PATH: '/replay_db/'
      MIN_FREE_SPACE_RATIO: 0.25
      MIN_REPLAY_RETENTION_MiB: 3500
      MIN_EXPECTED_DISK_GiB: 10
      CLEAN_INTERVAL_SECONDS: 1800
    volumes:
      - './reflexded/replays/:/replays/'
    restart: unless-stopped
    logging:
      driver: 'local'
      options:
        max-size: '10m'
        max-file: '3'
    cpus: 0.1
